* {
    margin: 0px;
}

body {
    position: relative;
    top: 75px;
    background: url("../../assets/images/wood-texture-bg.jpg");
    overflow-x: hidden;
    font-family: "Lemonada", cursive;
}

#sidenav {
    box-sizing: border-box;
    z-index: 9;
    display: block;
    margin-left: -265px;
    height: 70vh;
    width: 250px;
    box-shadow: 0 0 10px 10px #000;
    border-radius: 1rem;
    position: fixed;
    left: 0px;
    top: 200px;
    transition: all 0.5s ease-in-out;
    padding: 1rem;
    background: #311307;
    animation-direction: normal;
    color: burlywood;
    /* border: 1px solid #fff; */
    /* padding: 10px; */
}

#sidenav header {
    color: #fff;
    text-align: center;
    font-size: larger;
}

#sidenav p {
    color: black;
    background-color: burlywood;
    border-radius: 10px;
    padding: 5px;
    margin: 25px 5px 25px 5px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0 0 5px 3px rgb(118, 27, 146);
    color: rgb(36, 4, 46);
    font-weight: bolder;
}

#sidenav p:hover {
    transform: scale(0.91);
    background: burlywood;
    box-shadow: none;
}

#sidenav-open-btn {
    display: none;
    cursor: pointer;
    position: fixed;
    left: 0px;
    top: 330px;
    background: burlywood;
    width: 25px;
    border-radius: 0 0.5rem 0.5rem 0;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: center;
    z-index: 10;
    border: 2px solid #000;
    transition: all 0.5s ease-in-out;
}

@keyframes view-menu {
    0% {
        display: none;
        opacity: 0;
        width: 0px;
    }
    50% {
        opacity: 0.5;
        width: 125px;
        display: block;
    }
    100% {
        opacity: 1;
        width: 250px;
        display: block;
    }
}

.title {
    display: flex;
    position: fixed;
    height: 90px;
    top: 0px;
    width: 100%;
    letter-spacing: 0.2rem;
    align-items: center;
    justify-content: space-between;
    background: #311307;
    transition: 0.5s ease-in-out;
    z-index: 3;
    box-shadow: 0px 10px 10px black;
}

#logo {
    height: 65px;
}

#game-name {
    flex: 1;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 900px;
    color: #ff0;
}

h3 {
    font-size: 36px;
    background: -webkit-linear-gradient(#ff0, #f00);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box {
    border: 1px solid #000;
    margin: 1px;
    width: 4rem;
    height: 4rem;
    text-align: center;
    background-color: burlywood;
    color: #000;
}

@keyframes word-scaleup1 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
}

@keyframes word-scaleup2 {
    12.5% {
        transform: scale(1);
    }
    62.5% {
        transform: scale(0.8);
    }
}

@keyframes word-scaleup3 {
    25% {
        transform: scale(1);
    }
    75% {
        transform: scale(0.8);
    }
}

@keyframes word-scaleup4 {
    37.5% {
        transform: scale(1);
    }
    87.5% {
        transform: scale(0.8);
    }
}

.box:nth-child(1) {
    animation: word-scaleup1 1.2s infinite ease-in-out;
}

.box:nth-child(2) {
    animation: word-scaleup2 1.2s infinite ease-in-out;
}

.box:nth-child(3) {
    animation: word-scaleup3 1.2s infinite ease-in-out;
}

.box:nth-child(4) {
    animation: word-scaleup4 1.2s infinite ease-in-out;
}

.user {
    right: 15%;
    top: 20px;
    justify-self: flex-end;
    width: fit-content;
    height: fit-content;
    text-align: center;
    color: burlywood;
    border-radius: 1rem;
    padding: 0 5px 0 5px;
    font-size: 1.1rem;
}

#user-icon {
    /* position: absolute; */
    height: 25px;
    /* right: 1.5%; */
}

@keyframes aid-board {
    0% {
        width: 80vw;
    }
    50% {
        width: 70vw;
    }
    100% {
        width: 60vw;
    }
}

#game-body {
    filter: blur(8px);
    width: 80vw;
    min-height: 75vh;
    position: absolute;
    top: max(3vh, 80px);
    margin-left: 10%;
    background-color: #311307;
    border-radius: 2rem;
    box-shadow: 0 0 10px 10px #000 inset;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: all 0.5s ease-in-out;
    padding: 50px;
    box-sizing: border-box;
}

.game-ques {
    position: relative;
    /* top: 20px; */
    /* left: 15%; */
    margin-top: -3%;
    text-align: center;
    font-size: 2.5rem;
    align-self: center;
    color: #fff;
}

.theme-selector {
    display: flex;
    flex-direction: column;
}

.pref {
    border: 2px solid #000;
    border-radius: 1rem;
    text-align: center;
    color: #f00;
}

.pref:hover {
    transform: scale();
}

#letter-grab-area {
    position: relative;
    /* top: 130px; */
    margin: 10px;
    /* margin-left: 5%; */
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    border: 2px solid #ffffff;
    width: fit-content;
    min-width: 10%;
    /* min-height: 4.5rem; */
    align-self: center;
    padding: 10px;
    font-family: "Source Code Pro", monospace;
}

#letter-drop-area {
    position: relative;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-self: center;
    font-family: "Source Code Pro", monospace;
}

.grab-letter {
    background-color: burlywood;
    box-shadow: 5px 5px 10px 5px #000000;
    height: 2.5rem;
    width: 2.5rem;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: larger;
}

.drop-letter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    font-weight: bolder;
    width: fit-content;
    min-width: 3rem;
    border: 2px solid #ffffff;
    margin: 5px;
    padding: 10px;
    font-size: larger;
}

@keyframes view-tag {
    0% {
        opacity: 0;
        margin-right: 0px;
    }
    50% {
        opacity: 0.5;
        margin-right: 175px;
    }
    100% {
        opacity: 1;
        margin-right: 350px;
    }
}

@keyframes view-board {
    0% {
        display: none;
        opacity: 0;
        width: 0px;
    }
    50% {
        opacity: 0.5;
        width: 175px;
        display: block;
    }
    100% {
        opacity: 1;
        width: 350px;
        display: block;
    }
}

.lb-tag {
    cursor: pointer;
    position: fixed;
    right: 0px;
    top: 250px;
    background: burlywood;
    width: 25px;
    border-radius: 0.5rem;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: center;
    animation: view-tag 0.1s linear 0s 1 reverse;
    z-index: 10;
    border: 2px solid #000;
    transition: all 0.5s ease-in-out;
}

.lb-content {
    overflow-y: hidden;
    height: 55vh;
}

.leaderboard {
    display: none;
    background-color: #fff;
    height: 65vh;
    width: 350px;
    box-shadow: 0 0 10px 10px #000;
    border-radius: 1rem;
    position: fixed;
    right: 0px;
    top: 200px;
    transition: all 0.5s ease-in-out;
    padding: 1rem;
    background: #311307;
    animation-direction: normal;
}

#lb-title {
    color: #fff;
    text-align: center;
    font-size: xx-large;
}

.find-me {
    color: #fff;
    font-size: 1.7rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-left: 2%;
    display: flex;
    align-items: center;
    align-self: center;
    width: 100%;
    justify-content: center;
}

.entry {
    display: flex;
    justify-content: space-around;
    background: burlywood;
    margin: 10px;
    border-radius: 10px;
}

#theme-popup {
    box-sizing: border-box;
    position: absolute;
    width: 20rem;
    height: 22rem;
    left: 50vw;
    top: 40vh;
    margin-left: -10rem;
    margin-top: -11rem;
    display: none;
    flex-direction: column;
    padding: 0;
    border-radius: 5px;
    background: #311307;
    align-items: center;
    color: burlywood;
    border: 3px solid burlywood;
}

.theme-popup-tiles {
    flex: 1;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
}

#science {
    grid-column: 1 / span 2;
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../assets/images/theme-popup-images/science.PNG");
    background-size: cover;
}

#fruits-and-vegetables {
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../assets/images/theme-popup-images/fruits and vegetables.PNG");
    background-size: cover;
}

#web-series {
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../assets/images/theme-popup-images/web series.PNG");
    background-size: cover;
}

#theme-popup p {
    align-self: center;
    justify-self: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
    color: white;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    height: 7.5rem;
    width: 7.5rem;
    border: 2px solid burlywood;
}

#theme-popup p:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px 5px #000;
}

#theme-popup button {
    display: none;
}

#theme-popup header,
#username-popup header {
    color: yellow;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    font-size: x-large;
    border-bottom: 2px solid burlywood;
    background-image: url("../../assets/images/wood-texture-bg.jpg");
}

#username-popup {
    box-sizing: border-box;
    position: absolute;
    width: 30rem;
    height: 15rem;
    left: 45vw;
    top: 40vh;
    margin-left: -10rem;
    margin-top: -7.5rem;
    display: flex;
    flex-direction: column;
    padding: 0px;
    border-radius: 5px;
    background: #311307;
    align-items: center;
    justify-content: space-between;
    color: burlywood;
    border: 3px solid burlywood;
}

#username-popup input {
    background-color: burlywood;
    border-radius: 10px;
    width: 300px;
    font-size: large;
    padding: 5px;
    outline: none;
}

#username-popup button {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    color: yellow;
    font-size: x-large;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    border-top: 2px solid burlywood;
    background-image: url("../../assets/images/wood-texture-bg.jpg");
}

#username-popup button:hover {
    color: #0f0;
    background: rgba(0, 0, 0, 0.6);
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../assets/images/wood-texture-bg.jpg");
}

.buttons {
    display: flex;
    position: relative;
    align-self: flex-end;
    width: 15vw;
    /* margin-right: 12.5%; */
    justify-content: space-between;
}

.buttons button {
    background-color: burlywood;
    cursor: pointer;
    border-radius: 5px;
    font-size: 2rem;
}

#check {
    font-weight: 600;
    font-size: 1rem;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navig-bar {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    height: 75px;
    background: url("../../assets/images/wood-texture-bg.jpg");
    border-radius: 2rem;
    box-shadow: 0 0 5px 6px #000;
    opacity: 0.9;
    /* width:100%; */
}

@media only screen and (max-width: 700px) {
    .navigation {
        flex-wrap: wrap;
    }
    .navig-bar {
        flex-wrap: wrap;
    }
}

.navig-item {
    margin: 15px;
    border-radius: 40%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    width: 40px;
    height: 40px;
    background: burlywood;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.navig-item:hover {
    box-shadow: none !important;
    transform: scale(0.95);
}

.timer {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bolder;
    transition: 1s ease-in-out;
    z-index: 3;
    width: 15%;
    text-shadow: 2px 2px 5px #000;
}

.total-score {
    position: relative;
    background: burlywood;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    top: calc(50vh - 150px);
    left: calc(50vw - 18vw);
    flex-direction: column;
    width: 35vw;
    height: 120px;
    z-index: 1;
}

.total-score h1 {
    text-align: center;
    background: rgb(221, 87, 9);
    border: 2px solid #000;
    border-radius: 5px 5px 0 0;
    color: black;
}

#hint {
    font-size: 3rem;
    cursor: help;
    filter: grayscale(100%);
}

#hint:hover {
    filter: grayscale(0%);
}

#error-message {
    display: none;
}

.restart {
    cursor: pointer;
    position: absolute;
    width: 200px;
    bottom: 10px;
    right: 12.5vw;
    padding: 5px;
    border-radius: 5px;
    background: #000;
    color: #aaa;
    text-align: center;
    box-shadow: 0px 0px 5px #000;
    transition: all 0.2s ease-in-out;
}

.restart:hover {
    color: #fff;
    text-shadow: 0 0 10px #000;
    transform: scale(0.95);
    box-shadow: none;
    background: rgb(6, 126, 6);
}

#correct,
#wrong {
    border: 2px solid black;
    color: green;
    background-color: burlywood;
    border-radius: 10px;
    font-size: 1.2rem;
    height: fit-content;
    display: none;
    margin-left: 30px;
}

#wrong {
    color: red;
}

@media only screen and (max-width: 1280px) {
    body> :not(#error-message) {
        display: none;
    }
    #error-message {
        display: block !important;
        color: #fff;
        text-align: center;
    }
}

footer {
    height: 60px;
    width: 100vw;
    background: #000000;
    color: #fff;
}